body {
    margin: 0;
    padding: 0;
}


#home-title-image {
    min-height: 100%;
    min-width: 100%;
}

#home-title {
    font-size: 50px;
    text-align: center;
    color: white;
    position: absolute;
    background-image: url("static/images/UTM_overhead.jpg")
}

/* ------ Navigation Start ----- */

/* Navigation Bar */
#main-navigation {
    position: sticky;
    background-color: #333;
    width: 100%;
    top: 0;
}

#navigation-list {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

/* Navigation Bar Buttons */
.navigation-button {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
}

.navigation-button:hover {
    background-color: #111
}

.navigation-active {
    background-color: DarkSlateBlue;
}

/* ----- Navigation End ----- */

#main-footer {
    position: static;
    background-color: #333;
    width: 100%;
    bottom: 0;
    left: 0;
}

#link-list {
    list-style-type: none;
    overflow: hidden;
    margin: auto;
    padding: 0;
    display: flex;
    justify-content: center;
}

.footer-text {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 50px;
    bottom: 0;
}