<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/navigation.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/education.css') }}">
    <title>Alex Voidoc</title>
</head>
<body>
<nav id="main-navigation">
    <ul id="navigation-list">
        <li><button type="button" class="navigation-button" onclick='location.href="/"'>Home</button></li>
        <li><button type="button" class="navigation-button navigation-active" onclick='location.href="/education"'>Education</button></li>
        <li><button type="button" class="navigation-button" onclick='location.href="/work-experience"'>Work Experience</button></li>
        <li><button type="button" class="navigation-button" onclick='location.href="/projects"'>Projects</button></li>
        <li>
            <a href="https://github.com/alexvoidoc" target="_blank">
                <button type="button" class="navigation-button float-right" id="github"><img src="/static/images/GithubLogo.png" alt="Github Logo" class="logo-button">Github</button>
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/alex-voidoc" target="_blank">
                <button type="button" class="navigation-button float-right" id="linkedin"><img src="/static/images/LinkedInLogo.png" alt="LinkedIn Logo" class="logo-button">LinkedIn</button>
            </a>
        </li>
    </ul>
</nav>
<div id="education-display">
    <div class="school-block left">
        <img class="school-logo" src="/static/images/UofTLogo.png" alt="A picture of the University of Toronto logo">
        <br>
        University of Toronto
        <div class="white-bar in-view"></div>
    </div>
    <div class="vertical-bar"></div>
    <div class="school-block right">
        <img class="school-logo" src="/static/images/HighSchoolLogo.png" alt="A picture of the Corpus Christi Catholic Secondary School logo">
        <br>
        Corpus Christi<br>Catholic Secondary School
        <div class="white-bar in-view"></div>
    </div>
</div>
</body>
</html>