<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/navigation.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/style.css') }}">
    <script src="{{ url_for('static', filename='/javascript/home.js') }}"></script>
    <title>Alex Voidoc</title>
</head>
<body>

<div id="home-banner"><div id="banner-name">Alexander Voidoc</div></div>

<!--Navigation Bar-->

<nav id="main-navigation">
    <ul id="navigation-list">
        <li><button type="button" class="navigation-button navigation-active" onclick='location.href=""'>Home</button></li>
        <li><button type="button" class="navigation-button" onclick='location.href="/education"'>Education</button></li>
        <li><button type="button" class="navigation-button" onclick='location.href="/work-experience"'>Work Experience</button></li>
        <li><button type="button" class="navigation-button" onclick='location.href="/projects"'>Projects</button></li>
        <li>
            <a href="https://github.com/alexvoidoc" target="_blank">
                <button type="button" class="navigation-button float-right" id="github"><img src="/static/images/GithubLogo.png" alt="Github Logo" class="logo-button">Github</button>
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/alex-voidoc" target="_blank">
                <button type="button" class="navigation-button float-right" id="linkedin"><img src="/static/images/LinkedInLogo.png" alt="LinkedIn Logo" class="logo-button">LinkedIn</button>
            </a>
        </li>
    </ul>
</nav>

<!-- About section -->
<div id="about-block">
    <div class="home-text">
        <div class="home-text-title animated-element">Meet Me</div>
        <div class="white-bar animated-element"></div>
        I am a second-year Computer Science and Mathematics undergraduate student at the University of Toronto,
        currently pursuing a career in Software Development and Artificial Intelligence. I look forward to contributing
        to projects that push the boundaries of what's possible, whether that's new groundbreaking AI technology, or
        general software that improves the lives of people.
    </div>
    <img id="personal-photo" src="/static/images/Me.jpg" alt="A picture of Alexander Voidoc">
</div>

<!-- Skills Section-->
<div class="home-text-title home-text animated-element">Skills</div>
<div class="white-bar animated-element"></div>
<br>
<!-- Programming Languages -->
<div class="skills-block">
    <div class="skills-title">Languages</div>
    <ul class="skills-list">
        <li class="skills-list-item">Python</li>
        <li class="skills-list-item">Java</li>
        <li class="skills-list-item">C</li>
        <li class="skills-list-item">Bash</li>
        <li class="skills-list-item">SQL</li>
        <li class="skills-list-item">RISC-V Assembly</li>
        <li class="skills-list-item">Javascript</li>
        <li class="skills-list-item">HTML</li>
        <li class="skills-list-item">CSS</li>
    </ul>
    <span class="image-grid">
        <img src="/static/images/CLogo.png" alt="C programming language logo">
        <img src="/static/images/PythonLogo.png" alt="Python programming language logo">
        <img src="/static/images/JavaLogo.png" alt="Java programming language logo">
        <img src="/static/images/SQLLogo.png" alt="SQL programming language logo">
        <img src="/static/images/HTMLLogo.png" alt="HTML programming language logo">
        <img src="/static/images/CSSLogo.png" alt="CSS programming language logo">
        <img src="/static/images/JavascriptLogo.png" alt="Javascript programming language logo">
        <img src="/static/images/BashLogo.png" alt="Bash programming language logo">
        <img src="/static/images/RiscVLogo.png" alt="RISC-V Assembly programming language logo">
    </span>
</div>
<!-- Frameworks and Technologies -->
<div class="skills-block alt-skills-block">
    <span class="image-grid">
         <img src="/static/images/GitLogo.png" alt="Git logo">
         <img src="/static/images/FlaskLogo.png" alt="Flask logo">
         <img src="/static/images/UnrealEngineLogo.png" alt="Unreal Engine logo">
         <img src="/static/images/UnixLogo.png" alt="Picture of terminal">
         <img src="/static/images/DjangoLogo.png" alt="Django logo">
         <img src="/static/images/CLionLogo.png" alt="CLion logo">
         <img src="/static/images/IntelliJLogo.png" alt="IntelliJ logo">
         <img src="/static/images/PyCharmLogo.png" alt="PyCharm logo">
         <img src="/static/images/VisualStudioLogo.png" alt="Visual Studio logo">
     </span>
    <ul class="skills-list alt-skills-list">
        <li class="skills-list-item">Git</li>
        <li class="skills-list-item">Unreal Engine</li>
        <li class="skills-list-item">Django</li>
        <li class="skills-list-item">Django REST</li>
        <li class="skills-list-item">IntelliJ</li>
        <li class="skills-list-item">PyCharm</li>
        <li class="skills-list-item">CLion</li>
        <li class="skills-list-item">JavaFX</li>
        <li class="skills-list-item">Visual Studio</li>
        <li class="skills-list-item">Flask</li>
        <li class="skills-list-item">Unix</li>
        <li class="skills-list-item">Agile</li>
        <li class="skills-list-item">CI/CD</li>
    </ul>
    <div class="skills-title alt-skills-title">Frameworks & <br>Technologies</div>
</div>
<!-- Certificate Sections -->
<div class=skills-block>
    <div class="skills-title">Certifications</div>
    <div class="certificate image-grid">
        <!-- Google Certificate -->
        Google IT Automation
        <br>
        <img src="/static/images/GoogleLogo.png" alt="Google logo">
        <a href="/pdfs/Google%20IT%20Automation%20Certificate.pdf" target="_blank">
            <button type="button" class="certificate-button">Download Certificate</button>
        </a>
        </div>
         <!-- Meta Certificate -->
        <div class="certificate image-grid">
        Meta Back-End Developer
        <br>
        <img src="/static/images/MetaLogo.png" alt="Meta logo">
        <a href="/pdfs/Meta%20Backend%20Developer%20Certificate.pdf" target="_blank">
            <button type="button" class="certificate-button">Download Certificate</button>
        </a>
        </div>
</div>
<!-- Education Section -->
<br>
<div class="home-text-title home-text animated-element">Education</div>
<div class="white-bar animated-element"></div>
<br>
<div id="education">
    <div class="school-block-left">
        <img class="school-logo" src="/static/images/UofTLogo.png" alt="A picture of the University of Toronto logo">
        <br>
        University of Toronto
    </div>
    <div class="school-block-right">
        <img class="school-logo" src="/static/images/HighSchoolLogo.png" alt="A picture of the Corpus Christi Catholic Secondary School logo">
        <br>
        Corpus Christi<br>Catholic Secondary School
    </div>
</div>
<!-- Footer -->
<div id="footer">Contact: AlexVoidoc@gmail.com</div>
</body>
</html>
