<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Home</title>
</head>
<body>

<div id="home-banner">Alexander Voidoc</div>

<!--Navigation Bar-->

<nav id="main-navigation">
    <ul id="navigation-list">
        <li class="navigation-button navigation-active">Home</li>
        <li class="navigation-button"><a href="/about">About</a></li>
        <li class="navigation-button">Education</li>
        <li class="navigation-button">Work Experience</li>
        <li class="navigation-button">Projects</li>
    </ul>
</nav>

<div class="basic-text" style="margin-top: 500px">
    <h1>Hello</h1>
</div>

<footer id="main-footer">
    <ul id="link-list">
        <li class="footer-text">LinkedIn</li>
        <li class="footer-text">Github</li>
    </ul>
</footer>


</body>
</html>
