<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/navigation.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/home.css') }}">
    <script src="{{ url_for('static', filename='/javascript/home.js') }}"></script>
    <title>Home</title>
</head>
<body>

<div id="home-banner"><div id="banner-name">Alexander Voidoc</div></div>

<!--Navigation Bar-->

<nav id="main-navigation">
    <ul id="navigation-list">
        <li><button type="button" class="navigation-button navigation-active" onclick='location.href=""'>Home</button></li>
        <li><button type="button" class="navigation-button" onclick='location.href="/education"'>Education</button></li>
        <li><button type="button" class="navigation-button" onclick='location.href="/work-experience"'>Work Experience</button></li>
        <li><button type="button" class="navigation-button" onclick='location.href="/projects"'>Projects</button></li>
        <li>
            <a href="https://github.com/alexvoidoc" target="_blank">
                <button type="button" class="navigation-button float-right" id="github"><img src="/static/images/GithubLogo.png" alt="Github Logo" class="logo-button">Github</button>
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/alex-voidoc" target="_blank">
                <button type="button" class="navigation-button float-right" id="linkedin"><img src="/static/images/LinkedInLogo.png" alt="LinkedIn Logo" class="logo-button">LinkedIn</button>
            </a>
        </li>
    </ul>
</nav>

<div id="about-block">
    <div class="home-text">
        <div class="home-text-title animated-element">Meet Me</div>
        <div class="white-bar animated-element"></div>
        I am a second-year Computer Science and Mathematics undergraduate student at the University of Toronto,
        currently pursuing a career in software development and AI. I began my journey into computer science by
        programming games utilizing the Unreal Engine. I began teaching myself more complex programming techniques and
        loved doing it, so I began formally learning computer science and since then, it's been my goal to break into
        the field and learn more. I look forward to contributing to projects that push the boundaries of what's
        possible, whether that's new groundbreaking AI technology, or general software that improves the lives of people.
    </div>
    <img id="personal-photo" src="/static/images/Me.jpg" alt="A picture of Alexander Voidoc">
</div>

<div class="home-block">
<div class="home-text-title home-text animated-element">Skills</div>
<div class="white-bar animated-element"></div>
<br><br>
<div class="skills-block">
    <div class="skills-title">Languages</div>
    <ul class="skills-list">
        <li class="skills-list-item">Python</li>
        <li class="skills-list-item">Java</li>
        <li class="skills-list-item">C</li>
        <li class="skills-list-item">Bash</li>
        <li class="skills-list-item">SQL</li>
        <li class="skills-list-item">RISC-V Assembly</li>
        <li class="skills-list-item">Javascript</li>
        <li class="skills-list-item">HTML</li>
        <li class="skills-list-item">CSS</li>
    </ul>
</div>

</body>
</html>
